h1 {
  font-size: 17px;
  font-family: "Jost", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 600;
}

h2 {
  font-family: "Jost", sans-serif;
}

p {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}
