// Importing the variable stylesheet
@use "sass/abstracts/variables";

header {
  padding: 20px 5px;
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;

  @include sm {
    padding: 40px;
    padding-bottom: 25px;
  }
}

.logo {
  width: 100px;
  display: inline-block;
  margin-left: 10px;
}

.info {
  display: inline-block;
  margin-left: 25px;
  font-size: 13px;
  letter-spacing: 0.5px;
  opacity: 0.8;
  padding-top: 12px;

  @include sm {
    position: absolute;
    top: 52px;
    padding-top: 0px;
  }
}

.dashboard_navigation {
  @include sm {
    position: absolute;
    top: 40px;
    right: 40px;
  }
}

.nav_logo_time {
  display: flex;
  margin-bottom: 10px;

  @include sm {
    display: block;
  }
}

.notification_btn {
  background-image: url("../../img/bell.svg");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  cursor: pointer;
}

.notification_btn:hover {
  background-color: $transparent;
}

.mail_btn {
  background-image: url("../../img/mail.svg");
  background-repeat: no-repeat;
  background-size: 43%;
  background-position: center;
  cursor: pointer;
}

.mail_btn:hover {
  background-color: $transparent;
}

.settings_btn {
  background-image: url("../../img/settings.svg");
  background-repeat: no-repeat;
  background-size: 43%;
  background-position: center;
  cursor: pointer;
}

.settings_btn:hover {
  background-color: $transparent;
}

.info_btn {
  background-image: url("../../img/info.svg");
  background-repeat: no-repeat;
  background-size: 17%;
  background-position: 50% 65%;
  cursor: pointer;
}

.info_btn:hover {
  background-color: $transparent;
}
