// Importing the variable stylesheet
@use "sass/abstracts/variables";

header {
    padding: 40px;
    padding-bottom: 25px;
  }

.logo {
    width: 100px;
    display: inline-block;
    margin-left: 10px;
}

.notification_btn {
    background-image: url("../../img/bell.svg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    cursor: pointer;
}

.notification_btn:hover {
    background-color: rgba(255,255,255, 0.3);
}

.mail_btn {
    background-image: url("../../img/mail.svg");
    background-repeat: no-repeat;
    background-size: 43%;
    background-position: center;
    cursor: pointer;
}

.mail_btn:hover {
    background-color: rgba(255,255,255, 0.3);
}

.settings_btn {
    background-image: url("../../img/settings.svg");
    background-repeat: no-repeat;
    background-size: 43%;
    background-position: center;
    cursor: pointer;
}

.settings_btn:hover {
    background-color: rgba(255,255,255, 0.3);
}

.info_btn {
    background-image: url("../../img/info.svg");
    background-repeat: no-repeat;
    background-size: 17%;
    background-position: 50% 65%;
    cursor: pointer;
}

.info_btn:hover {
    background-color: rgba(255,255,255, 0.3);
}