// Importing the variable stylesheet
@import "../abstracts/variables";

.kpi {
  padding: 30px 45px;
  border-radius: 50px 50px 50px 0;
  position: relative;

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
  }
}

.kpi h1 {
  margin-bottom: 25px;
}

.kpi h2 {
  color: $blue;
  font-size: 25px;
  margin: 0;
}

.kpi_date {
  position: absolute;
  right: 45px;
  top: 30px;
  display: inline-block;
  font-family: "Jost", sans-serif !important;
}
