// Importing the variable stylesheet
@import "../abstracts/variables";

.storage {
  padding: 25px;
  padding-top: 0;

  @include lg {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    grid-gap: 3em;
    padding: 2.5em 45px;
    margin-bottom: 25px;
  }

  @include xl {
    grid-template-columns: 0.4fr 1fr;
    grid-gap: 3em;
  }
}

.storage-beer {
  padding: 10px 0px;
  position: relative;
  border-radius: 0 50px 50px 50px;
}

.storagelist {
  border-radius: 50px 50px 0px 50px;
  padding: 30px 45px;

  @include lg {
    height: 300px;
    max-height: 300px;
    height: 100%;
    margin-bottom: 0px;
  }
}

.storage_list {
  overflow-y: scroll;
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);

  @include lg {
    height: 160px;
    padding-bottom: 140px;
  }
}

// .overlay_storage {
//   @include xl {
//     width: 83%;
//     height: 82%;
//     position: absolute;
//     z-index: 100;
//     -webkit-mask-image: -webkit-gradient(linear, left 20%, left bottom, from(rgba(37, 35, 74, 1)), to(rgba(37, 35, 74, 0.9)));
//     background: rgb(91, 90, 132);
//     background: linear-gradient(365deg, rgba(91, 90, 132, 1) 0%, rgba(255, 255, 255, 0) 43%);
//   }
// }

.storage-beer h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.tablist {
  position: relative;
  padding: 30px 25px;
  border-radius: 50px 50px 50px 0px;
  overflow-x: scroll;
  height: 300px;
  padding-top: 60px;
  padding-bottom: 0px;

  @include sm {
    margin-top: 2em;
  }

  @include lg {
    margin-top: 0em;
  }
}

.storage_tap_beer {
  position: relative;
  padding: 15px;
  text-align: center;
}

.storage_tap_beer h3 {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
}

.amounts {
  @include sm {
    position: absolute;
    top: 0.7em;
    right: -10px;
  }
}

.amountbox {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #63c8ba;
  margin-right: 10px;
}

.taplist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
}

.percentage_text {
  position: absolute;
  left: 27%;
  top: 30%;
  width: 70px;
  text-align: center;
  font-size: 18px;
  font-family: "Jost", sans-serif;
  color: $white;
  font-weight: 400;
}

.pie {
  top: 0;
  right: 0;
  position: relative;
  width: 150px;
  height: 150px;
}

tspan {
  fill: transparent !important;
}
