body {
  padding: 25px;
}

header {
  border: 1px solid #0a0a0a;
  padding: 15px 25px;
  margin-bottom: 2em;
}

.Dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 2em;
  margin-bottom: 2em;
}

.KPI {
  border: 1px solid #0a0a0a;
  padding: 25px;
}

.Bartenders {
  border: 1px solid #0a0a0a;
  padding: 25px;
}

.Orders {
  border: 1px solid #0a0a0a;
  padding: 25px;
}

.Storage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

.StorageBeer {
  border: 1px solid #0a0a0a;
  padding: 25px;
}

.StorageTapBeer {
  position: relative;
  border: 1px solid #0a0a0a;
  padding: 25px;
}

.percentage_text {
  position: absolute;
  left: 34%;
  top: 45%;
  width: 70px;
  text-align: center;
}

.pie {
  top: 0;
  right: 0;
  position: absolute;
  width: 150px;
  height: 150px;
}